.category-edit
  form(validate, ng-submit='submit()')
    h3 Category edit
    hr
    label
      |Name
    input(type='text' name='name', ng-model='category.name').form-control
    label.padding
      |Descripition
    textarea(name='descripition', ng-model='category.descripition').form-control
    
    input(type="submit", value='Save').btn.btn-primary.btn-lg
