.category {
  table {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    tr {
      th {
        text-align: center;
      }
      td {
        .btn.btn-danger {
          width: 90%;
        }

        .btn.btn-warning {
          width: 90%;
        }
      }
    }


  }
}
