.category
  table.table.table-striped.table-bordered(ng-show='categories')
    thead
      tr
        th name
        th descripition
    tbody
      tr(ng-repeat='row in categories') 
        td  {{row.name}}
        td  {{row.descripition}}
            
