.category
  button(ui-sref='category-create').btn.btn-primary.col-xs-offset-3
    |new category
  table.table.table-striped.table-bordered(ng-show='categories')
    thead
      tr
        th name
        th descripition
        th Delete
        th Edit
    tbody
      tr(ng-repeat='row in categories') 
        td  {{row.name}}
        td  {{row.descripition}}
        td
          button(ng-click='delete(row.id)').btn.btn-danger Delete
        td
          button(ng-click='edit(row.id)').btn.btn-warning Edit
