div.row
  div.col-lg-10.col-lg-offset-3
    ul.nav.nav-pills
          li.active(role='presentation')
            a(href='#') Home
          li(role='presentation')
            a(href='#') Profile
          li(role='presentation')
            a(href='#') Messages
            
script(src='script/menu-controller.js')
