block js
script(src='script/menu-controller.js')
link(rel="stylesheet", href="css/menu/menu.css")
div.menu.row
  div.col-lg-10.col-lg-offset-3
    ul.nav.nav-pills
          li.active(role='presentation')
            a(ui-sref='category') Home
          li(role='presentation')
            a(href='#') Profile
          li(role='presentation')
            a(href='#') Messages
            
