doctype html
html(ng-app='myapp')
      head
        block css
          link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
          link(rel="stylesheet", href="public/css/all.css")
        title Home
        
      body(ng-controller='HomeController')
        block content
          div.menu
            div.row
              nav.navbar.navbar-inverse
                .container-fluid
                  .navbar-header
                    a.navbar-brand(href='#') Business System
                  ul.nav.navbar-nav
                    li.active
                      a(href='/') Home
                    li
                      a(ui-sref='category', ng-click='getCategory()') Category
                    li
                      a(href='#',  ng-click='create()') Page 2
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='#')
                        span.glyphicon.glyphicon-user
                        |  Sign Up
                    li
                      a(href='#')
                        span.glyphicon.glyphicon-log-in
                        |  Login

            div(ui-view='')
      script(src='node_modules/angular/angular.js')
      script(src='node_modules/angular-ui-router/release/angular-ui-router.js')  
      script(src='public/js/all.js')
      
      
  
  
