doctype html
html 
  head
    link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.css")
    title Home
  boby
    block content
      include menu.jade
  script(src='node_modules/angular/angular.js')
  
