doctype html
html
  head
    block css
      link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.css")
    title Home
  block libs
    script(src='node_modules/angular/angular.js')
    script(src='node_modules/angular-ui-router/release/angular-ui-router.min.js')  
    
  block js
    script(src='views/app.js')
    script(src='script/index-controller.js')
  body(ng-app='myapp')
    block content
      div(ng-controller='MenuController')
        include ../menu/menu.jade
      
      
  
  
