doctype html
html
  head
    block css
      link(rel="stylesheet", href="libs/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", href="public/css/all.css")
    title Home
    
  body(ng-app='myapp')
    block content
      div(ng-controller='MenuController')
        include ../menu/menu.jade
      div(ui-view='')
      
    script(src='libs/angular/angular.min.js')
    script(src='libs/angular-ui-router/release/angular-ui-router.min.js')  
    script(src='/public/js/all.js')
      
      
  
  
