doctype html
html(ng-app='app')
  head
    link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.css")
    title Home
  boby
    block content
      include ../menu/menu.jade
  script(src='node_modules/angular/angular.js')
  
  
