doctype html
html
  head
    block css
      link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
    title Home
    
  body(ng-app='myapp')
    block content
      div(ng-controller='MenuController')
        include ../menu/menu.jade
      div(ui-view='')
      
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js')  
    script(src='/public/js/all.js')
      
      
  
  
