.category-create
  form(validate)
    h3 Category create
    hr
    label
      |Name
    input(type='text').form-control
    label
      |Descripition
    textarea.form-control
    
    input(type="submit", value='Save').btn.btn-primary
