.category-create
  form(validate)
    h3 Category create
    hr
    label
      |Name
    input(type='text' name='category.name').form-control
    label.padding
      |Descripition
    textarea(name='category.descripition').form-control
    
    input(type="submit", value='Save').btn.btn-primary.btn-lg
