/* line 1, /home/mike/Projects/MangementSystem/views/category/category.scss */
div {
  font-size: 20px; }


/* line 1, /home/mike/Projects/MangementSystem/views/menu/menu.scss */
body {
  padding-top: 10px; }

/* line 4, /home/mike/Projects/MangementSystem/views/menu/menu.scss */
h3 {
  font-size: 10px; }

/* line 7, /home/mike/Projects/MangementSystem/views/menu/menu.scss */
.menu {
  padding-top: 10px; }
